<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Hotel.mapper.CityMapper">

	<!-- 예약 확인 -->
	<select id="bookingCheck" parameterType="String"
		resultType="com.Hotel.dto.CityDTO">
		SELECT * FROM CITY WHERE CTCODE = #{ctcode}
	</select>
	
	<!-- ct코드 select -->
	<select id="getCtcode" parameterType="com.Hotel.dto.CityDTO"
		resultType="String">
		SELECT CTCODE FROM CITY WHERE CTBOROUGH = #{ctborough}
	</select>
</mapper>